.media-carousel.owl-carousel.owl-theme
  .item.hide
    .image
      = image_tag "media/engagement.png"
    .text
      %h2 Customer Engagement is getting expensive
      %p Platform reach has gone down by over 200% in the last 3 years, as Social Platforms reduce your reach and censor niche companies. Paid customer acquisition continues to rise over time with ad services, while proprietary options like content offer longer-term value.
    = link_to "Explore Packages", pricing_page_path, class: "btn bold green"

  .item.hide
    .image
      = image_tag "media/unleash.png"
    .text
      %h2 Unleash your content production
      %p Save time and money with a service that doesn't gouge like an agency. Media agencies have a tendency to be sneaky and vague with their pricing, so they can maximise revenue. We'll always be honest with a transparent process that aims to counteract these issues.
    = link_to "Explore Packages", pricing_page_path, class: "btn bold green"

  .item.hide
    .image
      = image_tag "media/focus.png"
    .text
      %h2 Focus on what you do best
      %p Invest your time and the team's energy elsewhere as we handle the hard stuff like brief guidance, freelance management, content creation and distribution timelines.
    = link_to "Explore Packages", pricing_page_path, class: "btn bold green"

  .item.hide
    .image
      = image_tag "media/company.png"
    .text
      %h2 Turn your company into a quality content machine
      %p We radically increase your ability to create content through our outsourced team, without reducing the quality. We are media practitioners at heart who run podcasts and create video media - quality content is non-negotiable. This allows you to grow a quality audience by teaching them, as opposed to buying ad space.
    = link_to "Explore Packages", pricing_page_path, class: "btn bold green"
