.media-what-carousel.owl-carousel.owl-theme
  .item.hide.col-sm-24
    .icon-block.icon-block-lg
      = image_tag "media/select-package.svg"
      %h4 Select your package
      %p Choose the content that best suits you
  .item.hide.col-sm-24
    .icon-block.icon-block-lg
      = image_tag "media/brief.svg"
      %h4 Brief us your needs
      %p Tell us what you need in direction and style
  .item.hide.col-sm-24
    .icon-block.icon-block-lg
      = image_tag "media/send_us.svg"
      %h4 Send us your raw media
      %p Provide us with your recorded audio or video, for us to work our magic
  .item.hide.col-sm-24
    .icon-block.icon-block-lg
      = image_tag "media/our_team.svg"
      %h4 We get it done with our team
      %p We'll engage our team, including Freelancers, to get your content finished on time
  .item.hide.col-sm-24
    .icon-block.icon-block-lg
      = image_tag "media/receive.svg"
      %h4 Receive or Distribute
      %p Either receive the finished content or have our team distribute, depending on your package

.text-center
  = link_to "Get Started", pricing_page_path, class: 'btn bold green'
